<form class="edit-admin-profile" [formGroup]="reactivateOrganisation" (ngSubmit)="saveForm()">
  <div class="form-body">
    <div class="form-body-wrapper">
      <div class="title">{{ 'Please fill in all the required fields' }}</div>
      <div class="fields-wrapper">
        <label>{{ 'T_ORGANIZATION.GENERAL_INFO' | translate }}</label>

        <tsp-form-field>
          <div inputLabel>{{ 'T_TABLE.ORGANIZATION_NAME' | translate }}</div>
          <input inputField type="text" [attr.disabled]="true" [value]="name" />
        </tsp-form-field>

        <tsp-form-field>
          <div inputLabel>{{ 'T_TABLE.ORGANIZATION_CODE' | translate }}</div>
          <input inputField type="text" [attr.disabled]="true" [value]="code" />
        </tsp-form-field>

        <tsp-form-field [invalid]="hasControlError(FormControl.NickName)">
          <div inputLabel>
            {{
              'T_ORGANIZATION.VALUE' | translate: { value: 'T_ORGANIZATION.NICKNAME' | translate }
            }}
          </div>
          <input
            inputField
            type="text"
            [name]="FormControl.NickName"
            [formControlName]="FormControl.NickName"
          />
          <div inputError>{{ getControlError(FormControl.NickName) }}</div>
        </tsp-form-field>
        <tsp-form-field [invalid]="hasControlError(FormControl.Country)">
          <div inputLabel>
            {{
              'T_ORGANIZATION.VALUE' | translate: { value: 'T_ORGANIZATION.COUNTRY' | translate }
            }}
          </div>
          <input
            inputField
            type="text"
            [name]="FormControl.Country"
            [formControlName]="FormControl.Country"
          />
          <div inputError>{{ getControlError(FormControl.Country) }}</div>
        </tsp-form-field>
        <tsp-form-field [invalid]="hasControlError(FormControl.Address)">
          <div inputLabel>{{ 'T_FORMS.ADDRESS' | translate }}*</div>
          <input
            inputField
            type="text"
            [name]="FormControl.Address"
            [formControlName]="FormControl.Address"
          />
          <div inputError>{{ getControlError(FormControl.Address) }}</div>
        </tsp-form-field>
        <hr />
        <label>
          {{ 'T_ORGANIZATION.PRIMARY_ADMIN_CONTACT' | translate }}
        </label>
        <tsp-form-field
          formGroupName="primaryAdmin"
          [invalid]="hasControlError(FormControl.FirstName, FormControl.PrimaryAdmin)"
        >
          <div inputLabel>{{ 'T_FORMS.FIRSTNAME' | translate }}*</div>
          <input
            inputField
            type="text"
            [name]="FormControl.FirstName"
            [formControlName]="FormControl.FirstName"
          />
          <div inputError>
            {{ getControlError(FormControl.FirstName, FormControl.PrimaryAdmin) }}
          </div>
        </tsp-form-field>

        <tsp-form-field
          formGroupName="primaryAdmin"
          [invalid]="hasControlError(FormControl.LastName, FormControl.PrimaryAdmin)"
        >
          <div inputLabel>{{ 'T_FORMS.LASTNAME' | translate }}*</div>
          <input
            inputField
            type="text"
            [name]="FormControl.LastName"
            [formControlName]="FormControl.LastName"
          />
          <div inputError>
            {{ getControlError(FormControl.LastName, FormControl.PrimaryAdmin) }}
          </div>
        </tsp-form-field>

        <tsp-form-field
          formGroupName="primaryAdmin"
          [invalid]="hasControlError(FormControl.Email, FormControl.PrimaryAdmin)"
        >
          <div inputLabel>{{ 'T_FORMS.EMAIL' | translate }}*</div>
          <input
            inputField
            type="text"
            [name]="FormControl.Email"
            [formControlName]="FormControl.Email"
          />
          <div inputError>
            {{ getControlError(FormControl.Email, FormControl.PrimaryAdmin) }}
          </div>
        </tsp-form-field>
        <tsp-form-field
          formGroupName="primaryAdmin"
          [invalid]="hasControlError(FormControl.PhoneNumber, FormControl.PrimaryAdmin)"
        >
          <div inputLabel>{{ 'T_FORMS.MOBILE_PHONE' | translate }}</div>
          <input
            inputField
            type="text"
            mask="(000) 000-0000"
            [name]="FormControl.PhoneNumber"
            [formControlName]="FormControl.PhoneNumber"
          />
          <div inputError>
            {{ getControlError(FormControl.PhoneNumber, FormControl.PrimaryAdmin) }}
          </div>
        </tsp-form-field>
        <hr />
        <label>
          {{ 'T_ORGANIZATION.BACKUP_CONTACT' | translate }}
        </label>
        <tsp-form-field [invalid]="hasControlError(FormControl.BackupContactFirstName)">
          <div inputLabel>{{ 'T_FORMS.FIRSTNAME' | translate }}*</div>
          <input
            inputField
            type="text"
            [name]="FormControl.BackupContactFirstName"
            [formControlName]="FormControl.BackupContactFirstName"
          />
          <div inputError>
            {{ getControlError(FormControl.BackupContactFirstName) }}
          </div>
        </tsp-form-field>
        <tsp-form-field [invalid]="hasControlError(FormControl.BackupContactLastName)">
          <div inputLabel>{{ 'T_FORMS.LASTNAME' | translate }}*</div>
          <input
            inputField
            type="text"
            [name]="FormControl.BackupContactLastName"
            [formControlName]="FormControl.BackupContactLastName"
          />
          <div inputError>
            {{ getControlError(FormControl.BackupContactLastName) }}
          </div>
        </tsp-form-field>
        <tsp-form-field [invalid]="hasControlError(FormControl.BackupContactEmail)">
          <div inputLabel>{{ 'T_FORMS.EMAIL' | translate }}*</div>
          <input
            inputField
            type="text"
            [name]="FormControl.BackupContactEmail"
            [formControlName]="FormControl.BackupContactEmail"
          />
          <div inputError>
            {{ getControlError(FormControl.BackupContactEmail) }}
          </div>
        </tsp-form-field>
        <tsp-form-field [invalid]="hasControlError(FormControl.BackupContactPhone)">
          <div inputLabel>{{ 'T_FORMS.MOBILE_PHONE' | translate }}</div>
          <input
            inputField
            type="text"
            mask="(000) 000-0000"
            [name]="FormControl.BackupContactPhone"
            [formControlName]="FormControl.BackupContactPhone"
          />
          <div inputError>
            {{ getControlError(FormControl.BackupContactPhone) }}
          </div>
        </tsp-form-field>
      </div>
    </div>
  </div>
  <div class="form-footer">
    <div class="buttons-wrapper">
      <tsp-button variant="outline" width="fullWidth" (click)="closeMenu()">
        {{ 'T_BUTTONS.CANCEL' | translate }}
      </tsp-button>
      <tsp-button
        submit
        [disabled]="reactivateOrganisation.invalid"
        [loading]="isLoading"
        width="fullWidth"
      >
        {{ 'T_BUTTONS.SAVE' | translate }}
      </tsp-button>
    </div>
  </div>
</form>
